<%- include header %>
<ul style="list-style: none;" >
	<li><h3><a href="http://jwxt.imu.edu.cn/">内大教务系统</a></h3></li>
	<li><h3><a href="#">----------</a></h3></li>
	<li><h3><a href="#">----------</a></h3></li>
</ul>